body,html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 98vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  justify-content: flex-end;
}

img {
pointer-events: none;
}

::-webkit-scrollbar {
width: 10px;
height: 10px;
}
  
::-webkit-scrollbar-thumb {
background-color: #333;
border-radius: 5px;
}
  
:not(:hover)::-webkit-scrollbar-thumb {
background-color: transparent;
border: 1px solid #0000;
}

.right-column::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, var(--main-color) 60px, transparent 60px);
  border-top-right-radius: 5px; /* Curved top right corner */
}

.right-column:not(:hover)::-webkit-scrollbar-thumb {
background-color: #333;
border-radius: 5px;
}

.right-column::-webkit-scrollbar-thumb {
min-height: 65px;
}


.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100% - 70px);
  max-height: calc(100% - 70px);
  position: relative;
}


.right-column {padding: 0;border-radius: 5px;border-right: none;background-color: #222;margin: 5px;margin-right: none;transition: all 0.3s ease;position: relative;}

.sidebar {
display: block; 
}

@media only screen and (min-width: 768px) {
.Sidebar-button {
margin-left: 12px;
display: none;
}
}

@media only screen and (max-width: 768px) {
  .left-column {
    width: 300px;
    border-radius: 5px;
    background-color: #000;
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease;
    justify-content: space-between;
    }
}

.left-column1 {
display: flex;
width: 90px;
height: 100Vh;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
align-content: center;
}

.Sidebar-button {margin-left: 12px;display: block;background-color: rgb(0, 0, 0);border: none;width: 40px;height: 40px;transition: opacity 0.3s;cursor: pointer;padding-left: 6px;border-radius: 10px;opacity: 1;}

.separator {
display: none; 
}

.top-row1 {
height: 10vh;
width: 100%;
margin-bottom: 10px;
background-color: #111;
border-radius: 5px;
display: flex;
position: relative;
}

.middle-row1 {
height: 20vh;
width: 100%;
margin-bottom: 10px;
background-color: #111;
border-radius: 5px;
}

.middle-row1 img {
width: 40px;
height: 40px;
margin-left: 10px;
}

.middle-row1 .icon-text {
color: #fff;
margin: 20px;
font-weight: bold;
font-size: 18px;
}

.bottom-row1 {
display: flex;
width: 100%;
flex-direction: column;
height: 50vh;
background-color: #111;
border-radius: 5px;
overflow-x: hidden;
}

.bottom-row1 img {
width: 40px;
height: 40px;
margin-left: 10px;
}

.bottom-row1 .icon-text {
color: #fff;
margin: 20px;
font-weight: bold;
font-size: 18px;
}

.icon-background1 {
display: flex;
flex-direction: row;
align-items: center;
position: sticky;
top: 0;
padding-bottom: 10px;
background-color: #111;
}

.icon-container1 {
display: flex;
align-items: center;
margin-bottom: 5px;
position: sticky;
top: 0;
background-color: #111;
transition: opacity 0.3s ease;
text-decoration: none;
height: 10vh;
}

@media only screen and (min-width: 768px) {
.left-column {
width: 300px;
border-radius: 5px;
background-color: #000;
margin: 5px;
display: flex;
flex-direction: column;
position: relative;
transition: all 0.3s ease;
justify-content: space-between;
}


.top-row {
height: 10%;
margin-bottom: 10px;
background-color: #151515;
border-radius: 5px;
display: flex;
padding-left: 10px;
position: relative;
}

.middle-row {
height: 20%;
margin-bottom: 10px;
background-color: #151515;
border-radius: 5px;
}

.bottom-row {
display: flex;
flex-direction: column;
height: 67%;
background-color: #151515;
border-radius: 5px;
overflow-x: hidden;
}
}
.icon-container:hover {
opacity: 1;
}

.bottom-row img {
width: 40px;
height: 40px;
margin-left: 10px;
}

.bottom-row .icon-text {
color: #fff;
margin: 20px;
font-weight: bold;
font-size: 18px;
}

.icon-container {
display: flex;
align-items: center;
margin-bottom: 5px;
position: sticky;
top: 0;
background-color: #151515;
opacity: 0.5;
transition: opacity 0.3s ease;
text-decoration: none;
}

.icon-background {
display: flex;
flex-direction: row;
align-items: center;
position: sticky;
top: 0;
background-color: #151515;
}

.icon-container img {
margin-right: 10px;
}

.repeater-container-sidebar {
margin-left: 5px;
display: flex;
flex-direction: column;
background-color: transparent;
width: 95%;
border-radius: 5px;
}

.left-column.closed .repeater-container-sidebar {
margin-left: 0px;
}

.left-column.closed .repeater-item:hover {
background-color: #151515;
}

.repeater-item {
margin-bottom: 10px;
display: flex;
align-items: center;
}

.repeater-item img {
width: 55px;
height: fit-content;
margin-right: 10px;
margin-left: 0px;
border-radius: 5px;
}

.repeater-text {
color: #fff;
margin-left: 5px;
}

.repeater-item:hover {
background-color: #222;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.text-row {
margin-bottom: 5px;
}

.text-row:nth-child(2) {
font-size: 10px;
color: #777;
font-weight: bold;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch {
position: relative;
display: inline-block;
top: 50%;
transform: translateY(-50%);
width: 100%;
height: 80%;
border-radius: 5px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
pointer-events: none;
top: 50%;
transform: translateY(-50%);
left: 0;
right: 0;
bottom: 0;
transition: 0.4s;
border-radius: 15px;
width: 95%;
height: 100%;
}

.left-column.closed .slider:before {
width: 90%;
}

.left-column.closed .music-label {
display: none;
}

.left-column.closed input:checked+.slider:before {
transform: translateX(0%);
}

.slider:before {
position: absolute;
content: "";
height: 100%;
width: 50%;
background-color: grey;
transition: 0.4s;
border-radius: 5px;
pointer-events: none;
z-index: 2;
}

input:checked+.slider:before {
transform: translateX(102%);
}

.label {
position: absolute;
color: white;
font-weight: bold;
z-index: 3;
top: 50%;
transform: translateY(-50%);
transition: color 0.3s;
cursor: pointer;
}

.song-label:hover,
.music-label:hover {
color: white;
}

.song-label {
left: 20%;
}

.music-label {
right: 20%;
}

.middle-row {
display: flex;
flex-direction: column;
justify-content: center;
transition: opacity 0.3s ease;
}

.icon-container {
text-decoration: none;
display: flex;
align-items: center;
margin-bottom: 5px;
}

.icon-container:hover {
opacity: 1;
}

.middle-row img {
width: 40px;
height: 40px;
margin-left: 10px;
}

.middle-row .icon-text {
color: #fff;
margin: 20px;
font-weight: bold;
font-size: 18px;
}

.ezj-services-icon-container:hover img {
opacity: 1;
}

.icon-container {
text-decoration: none;
}

.home-icon-container:hover .icon-text,
.ezj-services-icon-container:hover .icon-text {
opacity: 1;
}

.right-column {
  border-radius: 5px;
  border-right: none;
  margin: 5px;
  transition: all 0.3s ease;
  max-height: 100%;
  overflow-y: auto;
  width: calc(100% - 160px);
}

@media only screen and (max-width: 768px) {
.right-column {
  width: 100%;
}
}

.fade+header {
z-index: 1;
}

.time-greeting {
position: relative;
z-index: 4;
}

:root {
--main-color: rgba(0, 0, 250, 0.5);
}

#myNav1 {
  width: 170px;
  margin-left: 0px;
}

.right-column header {
  backdrop-filter: blur(10px);
  height: 60px;
  background: linear-gradient(to right, var(--main-color) 95%, #11118e 99%);
  color: white;
  display: flex;
  font-size: 1.2em;
  border-radius: 5px 0px 0px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
}

.search-bar-container {
display: flex;
align-items: center;
}

@media only screen and (max-width: 768px) {
.search-form {
  margin-top: -5px;
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0s ease;
  margin-left: 12px;
  }
}
@media only screen and (min-width: 769px) {
.search-form {display: flex;align-items: center;background-color: black;border-radius: 10px;overflow: hidden;transition: background-color 0s ease;margin-left: 12px;}
}



@media only screen and (max-width: 768px) {
#prevButton,
#nextButton
{
display: none;
}
}
#search-input {
border: none;
padding-left: 10px;
width: 250px;
height: 40px;
color: #00f;
background-color: transparent;
transition: background-color 0s ease, color 0s ease;
border: none;
outline: none;
font-size: 20px;
}


.search-form:focus {
  background-color: #000;
  }

.search-form:hover {
background-color: #000;
}

#search-input {caret-color: #33f;animation: blink-caret 0.8s step-end infinite;}

.search-icon-container {
padding-left: 10px;
padding-right: 10px;
}

#search-input:focus {
  outline: none;
  color: #33f;
  background-color: #000;
  }

#search-input::-ms-clear,
#search-input::-ms-reveal {
display: none;
}

#search-input::-webkit-search-cancel-button,
#search-input::-webkit-search-clear-button {
display: none;
}

#search-input::placeholder {
color: #33f;
font-size: 20px;
transition: opacity 0s ease;
}

#search-input:focus::placeholder {
opacity: 0;
}

.voice-icon-container {
display: flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
border-radius: 2px;
overflow: hidden;
margin-left: -35px;
margin-right: 5px;
}

.voice-icon-container:hover {
width: 30px;
height: 30px;
border-radius: 5px;
background-color: #191919;
overflow: hidden;
margin-left: -35px;
}

.fade {
z-index: 0;
content: '';
position: absolute;
top: 60px;
left: 0;
width: 100%;
height: 200px;
background: linear-gradient(to bottom, var(--main-color), #0000);
}

.advert-space {
width: 98%;
height: 200px;
margin-left: 10px;
margin-bottom: 30px;
display: flex;
justify-content: center;
align-content: center;
}

.container-repeater {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: calc(100% - 20px);
height: auto;
gap: 10px;
margin-left: 10px;
}

.container-item {
position: relative;
overflow: hidden;
width: calc(33.3% - 10px);
height: 70px;
margin-bottom: 2px;
box-sizing: border-box;
background-color: rgba(10, 10, 10, 0.2);
border-radius: 8px;
display: flex;
align-items: center;
color: white;
padding: 0 10px;
transition: background-color 0.3s ease;
}
@media only screen and (max-width: 1060px) {
.container-item {
width: calc(50% - 10px);
}
}


.container-item:hover {
background-color: rgba(0, 0, 0, 0.7);
}

.container-repeater .container-item img {
width: 65px;
height: 65px;
object-fit: cover;
border-radius: 4px;
margin-right: 10px;
margin-left: -6px;
}

.container-repeater .container-item .text-content {
flex: 1;
display: flex;
flex-direction: column;
}

.container-repeater .container-item .text-content div {
margin-bottom: 5px;
}

.container-repeater .container-item .text-content .artist {
font-size: 80%;
color: #999;
}

.container-repeater-streams {
display: flex;
overflow-x: auto;
white-space: nowrap;
margin-right: 10px;
margin-left: 10px;
mask-image: linear-gradient(to right, black 98%, transparent 100%);
}

.container-item-streams {position: relative;overflow: hidden;height: 100px;max-width: 350px;min-width: 350px;margin-bottom: 2px;box-sizing: border-box;background-color: rgba(10, 10, 10, 0.5);border-radius: 8px;display: flex;align-items: center;color: white;padding: 0 8px;margin-right: 10px;transition: background-color 0.3s ease;}

.container-item-streams:hover {
background-color: rgba(0, 0, 0, 1);
}

.container-repeater-streams .container-item-streams img {width: 93px;height: 94px;object-fit: cover;border-radius: 4px;margin-right: 10px;margin-left: -5px;}

.container-repeater-streams .container-item-streams .text-content {
flex: 1;
display: flex;
flex-direction: column;
}

.container-repeater-streams .container-item-streams .text-content div {
color: white;
text-decoration: none;
margin-bottom: 5px;
}

.container-repeater-streams .container-item-streams .text-content .artist {
font-size: 80%;
color: #999;
}

.artist-name {
padding-top: 25px;
font-size: 95%;
white-space: normal;
text-decoration: none;
color: white;
}

.artist-title {
font-size: 80%;
color: #999;
}

.repeater-row-item {
position: relative;
}

.image-container {
position: relative;
overflow: hidden;
}

.image-container img {
width: 100%;
height: auto;
display: block;
}

player {
width: 100%;
min-height: 70px;
background-color: #000;
color: white;
display: flex;
align-items: center;
justify-content: absolute;
position: relative;
}

.separator {
width: 10px;
background-color: #000;
cursor: col-resize;
margin: -5px;
}

.repeater-row {
display: flex;
overflow-x: auto;
white-space: nowrap;
margin-right: 10px;
margin-left: 10px;
mask-image: linear-gradient(to right, black 98%, transparent 100%);
}

.stories-row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 10px;
  mask-image: linear-gradient(to right, black 98%, transparent 100%);
  }

.podcast-row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 10px;
  mask-image: linear-gradient(to right, black 98%, transparent 100%);
  }

.friedrepeater {
display: flex;
overflow-x: auto;
white-space: nowrap;
margin-right: 10px;
margin-left: 10px;
mask-image: linear-gradient(to right, black 98%, transparent 100%);
}

.podcast-row-artists {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 10px;
  mask-image: linear-gradient(to right, black 98%, transparent 100%);
  }

.repeater-row-artists {
display: flex;
overflow-x: auto;
white-space: nowrap;
margin-right: 10px;
margin-left: 10px;
mask-image: linear-gradient(to right, black 98%, transparent 100%);
}

.repeater-row-2 {
display: flex;
overflow-x: auto;
white-space: nowrap;
margin-right: 10px;
margin-left: 10px;
mask-image: linear-gradient(to right, black 98%, transparent 100%);
}

.repeater-row-item {
  min-width: 170px;
  max-width: 170px;
  height: 240px;
  margin-right: 15px;
  border-radius: 8px;
  display: flex;
  background-color: rgba(10, 10, 10, 0.5);
  flex-direction: column;
  padding: 10px;
  transition: background-color 0.3s ease;
  align-items: flex-start;
  }
  
  .repeater-row-artists-item {min-width: 165px;max-width: 165px;height: 240px;margin-right: 15px;border-radius: 8px;background-color: rgba(10, 10, 10, 0.5);padding: 15px 10px 20px 10px;transition: background-color 0.3s ease;}
  
  .repeater-row-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  }
  
.repeater-row-artists-item img {aspect-ratio: 1;width: 165px;display: flex;height: 165px;border-radius: 50%;box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.5);}

.repeater-text {
color: #fff;
white-space: normal;
margin-top: 10px;
}

.text-row-small {
overflow: hidden;
white-space: normal;
font-size: 14px;
color: #999;
}

.video-repeater-row-item {min-width: 350px;max-width: 350px;height: 250px;margin-right: 15px;border-radius: 10px;display: flex;background-color: rgba(10, 10, 10, 0.5);flex-direction: column;padding: 10px;transition: background-color 0.3s ease;align-items: flex-start;}

.video-repeater-row-item img {
width: 60%;
height: auto;
border-radius: 5px;
}

.video-repeater-text {
color: #fff;
white-space: normal;
margin-top: 10px;
}

.video-text-row-small {
overflow: hidden;
white-space: normal;
font-size: 14px;
color: #999;

}
.video-repeater-row-item:hover {
background-color: rgba(0, 0, 0, 1);
}
.repeater-row-video{
display: flex;
overflow-x: auto;
margin-left: 10px;
mask-image: linear-gradient(to right, black 98%, transparent 100%);
}

.podcast-row-video{
  display: flex;
  overflow-x: auto;
  margin-left: 10px;
  mask-image: linear-gradient(to right, black 98%, transparent 100%);
  }

.container-repeater-services{margin-top: 80px;display: flex;flex-wrap: wrap;justify-content: space-evenly;}

.container-item-services {height: 150px;position: relative;overflow: hidden;margin-bottom: 10px;background-color: rgba(10, 10, 10, 0.2);border-radius: 8px;display: flex;color: white;padding: 0 10px;transition: background-color 0.3s ease;text-decoration: none;display: flex;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 10px;margin-left: 10px;flex-direction: column;align-content: flex-start;}
.container-item-services:hover {
  background-color: #000;
}

.repeater-row-artists-item:hover {
background-color: rgba(0, 0, 0, 0.7);
}

.repeater-row-item:hover {
background-color: rgba(0, 0, 0, 1);
}

.container-item-services img {
width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 4px;
  padding-right: 10px;
  padding-top: 10px;
}

.text-content-services {flex: 1;display: flex;flex-direction: column;margin-top: 20px;text-decoration: none;max-width: 140px;}

.service {
font-weight: bold;
margin-bottom: 5px;
text-decoration: none;
color: #fff;
}

.description {font-size: 80%;color: #999;margin-top: 40px;margin-left: -73px;text-decoration: none;} 

a:-webkit-any-link {
  display: flex;
  color:  -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

.lightbox {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); 
          z-index: 9999;
      }

      .lightbox-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          padding: 20px;
          border-radius: 5px;
          text-align: center;
      }

      .close-button {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
      }

#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); 
z-index: 10; 
display: none; 
}

.overlay-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white; 
font-size: 24px; 
}

h3 {
position: relative;
margin-left: 15px;
margin-top: 50px;
margin-bottom: 5px;
}

h2 {
margin-left: 15px;
margin-top: 50px;
margin-bottom: 15px;
}

p6 {
  min-width: 250px;
  font-size: 20px;
  font-weight: bold;
}

#player {max-height: 70px;display: flex;flex-direction: row;justify-content: space-between;align-items: center;align-content: center;flex-wrap: nowrap;padding-left: 5px;padding-right: 30px;}

#playing-details {
display: flex;
width: 20vw;
height: 60px;
border-radius: 5px;
border: thick solid #000;
background-color: #000;
color: white;
transition: 0.5s ease;
flex-direction: row;
}

@media only screen and (max-width: 768px) {
#playing-details:hover {
  border: thick solid #000;
  background-color: #000; 
  transition: 0.5s ease;
}
}
@media only screen and (min-width: 768px) {
#playing-details:hover {
border: thick solid #000;
background-color: #000;
}
}

#image-artwork {width: auto;height: 60px;border-radius: 5px;aspect-ratio: 1;}

.text-row-player {
margin-bottom: 5px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 13vw;
}

.text-row-player:nth-child(2) {
font-size: 10px;
color: #777;
font-weight: bold;
}

@media only screen and (max-width: 768px) {
.text-row-player {
  display: none;
 }
}

.extrabuttons{display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: center;align-items: center;}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
max-width: 400px;
}
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.expand-player-details:hover {
opacity: 1;
rotate: 270deg;
width: 30px;
height: 30px;
transition: 0.1s ease;
}

.expand-player-details {
opacity: 0.7;
display: block;
rotate: 270deg;
width: 30px;
height: 30px;
transition: 0.1s ease;
}

.container-item-upnext:hover {opacity: 1;background-color: rgba( 0, 0, 0, 0.5);transition: background-color 0.3s ease;}

.container-item-artist:hover {
opacity: 1;
background-color: rgba( 0, 0, 0, 1);
border-radius: 5px;
transition: background-color 0.3s ease;
}

.upnextimg {width: 200px;height: fit-content;margin-left: 5px;border-radius: 15px;margin: 5px 5px 50px 5px;}

.bottom-row .icon-text {
color: #fff;
margin: 20px;
font-weight: bold;
font-size: 18px;
}

.icon-background {
display: flex;
flex-direction: row;
align-items: center;
position: sticky;
top: 0;
}


.upnext-repeater {
margin-left: 5px;
display: flex;
flex-direction: column;
background-color: transparent;
width: 95%;
position: relative;
z-index: 5;
margin-bottom: -40px;
}

@media only screen and (max-width: 1200px) {
.artist-repeater {
margin-left: 30px;
display: flex;
flex-direction: column;
background-color: transparent;
width: 90%;
position: relative;
z-index: 5;
margin-bottom: -40px;
}
}

@media only screen and (min-width: 1200px) {
.artist-repeater {
margin-left: 30px;
display: flex;
flex-direction: column;
background-color: transparent;
width: 60%;
position: relative;
z-index: 5;
margin-bottom: -40px;
}
}

.container-item-upnext {
  margin-left: 15px;
  z-index: 3;
  margin-bottom: 7px;
  top: 0;
  background-color: #0000224d;
  opacity: 1;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  height: 100%;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 20px;
}

.container-item-artist {
z-index: 3;
margin-bottom: 7px;
top: 0;
background-color: rgba( 0, 0, 0, 0.3);
opacity: 1;
text-decoration: none;
display: flex;
align-items: center;
border-radius: 5px;
height: 60px;
position: relative;
}

.bottom-row img {
margin-right: 10px;
width: 55px;
height: fit-content;
margin-left: 0px;
border-radius: 5px;
}

.upnext-repeater-text {
display: flex;
align-items: center;
color: #fff;
margin-left: 5px;
}


.upnext-text-row {
margin-bottom: 5px;
}

.upnext-artist {font-size: 13px;color: #777;font-weight: bold;}
.upnext-text-content {display: flex;flex-direction: column;justify-content: center;margin: 10px;}
.upnext-album-title{min-width: 11vw;max-width: 11vw;display: flex;flex-direction: row;align-items: center;justify-content: flex-start;}

.container-item-streams {
display: block;
text-decoration: none; 
color: white; 
}

.container-item-streams img {
width: 100%; 
}

.container-item-streams {
display: block;
text-decoration: none; 
color: inherit;
}

.container-item-streams img {
width: 100%; 
}

#album-cover {
width: 100%;
position: absolute;
object-fit: cover;
}

#artist-cover {
width: 100%;
position: absolute;
object-fit: cover;
border-radius: 50%;
}

#album-container {
display: flex;
margin-top: 50px;
}

.album-text {
display: flex;
}

#album-title {
font-size: 50px;
}

#artist-name {
font-weight: 100;
color: #777;
margin-left: 5px;
margin-top: -30px;
}

#container-streams {
box-shadow: 7px 7px 8px 8px rgba(0, 0, 0, 0.1);
width: 300px;
aspect-ratio: 1;
position: relative;
overflow: hidden;
border-radius: 5px;
margin-bottom: 50px;
margin-left: 50px;
margin-right: 50px;
}

#container-artists {
box-shadow: 7px 7px 8px 8px rgba(0, 0, 0, 0.1);
width: 300px;
aspect-ratio: 1;
position: relative;
overflow: hidden;
border-radius: 50%;
margin-bottom: 50px;
margin-left: 50px;
margin-right: 50px;
}

.container-item-streams img {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
border-radius: 10px;
}

.overlaymessage {
position: absolute;
z-index: 1000;
top: 0;
left: 0;
width: 0px;
height: 100vh;
background: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
transition: opacity 0.3s;
border-radius: 10px;
}

.container-item-streams:hover .overlay {
opacity: 1;
}

.album-title, .artist {
margin: 0;
}

.container-item-streams {
position: relative;
display: inline-block;
}

.container-item-streams:hover .overlay {
opacity: 1;
}

.pause-button {
display: block;
}

.overlay-1st {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.3s;
border-radius: 5px;
}

.repeater-row-artists-item {
position: relative;
}

.image-container {
position: relative;
overflow: hidden;
}

.image-container img {
width: 100%;
height: auto;
display: block;
}

#playing-details .image-container {
position: relative;
display: inline-block;
}

#playing-details .uparrow-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background: rgba(0, 0, 0, 1);
opacity: 0;
transition: opacity 0.3s;
}

#playing-details .uparrow-overlay img {
width: 50%;
height: 50%;
opacity: 1;
}

#playing-details .image-container:hover .uparrow-overlay {
opacity: 0.8;
}

#image-row {
overflow: hidden;
transition: height 0.3s ease;
height: 0;
}

#expanded-artwork {
width: 100%;
height: 100%;
}

#image-row {
overflow: hidden;
transition: height 0.3s ease;
height: 0;
display: flex;
align-items: center;
justify-content: center;
}

#dropdown-button {
margin-top: -5px;
display: flex;
align-items: center;
background-color: black;
border-radius: 10px;
overflow: hidden;
transition: background-color 0s ease;
height: 40px;
width: 40px;
justify-content: center;
position: fixed;
right: 12px;
cursor: pointer;
}

.dropdown-content {
display: none;
background-color: #000;
min-width: 160px;
box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
z-index: 5;
position: fixed;
right: 12px;
top: 50px;
border-radius: 10px;
padding: 3px;
}

.dropdown-content a {
color: #ccc;
padding: 5px 5px 5px 5px;
text-decoration: none;
border-radius: 8px;
display: flex;
align-items: center;
}

.dropdown{
margin-right: 10px;
}

.extra {
  font-family: 'Material Symbols Rounded';
  font-weight: 100 !important;
  font-style: 100;
  font-size: 20px;
  line-height: 0.8;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.dropdown-content a:hover {
  background-color: #222;
}

.show {display:block;}

.account-users {
z-index: 4;
margin-left: 10%;
width: 80%;
display: flex;
position: relative;
justify-content: space-around;
}

.user {
display: flex;
background: #000;
border-radius: 15px;
width: 250px;
height: 300px;
border: 1px solid #00005b;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
flex-wrap: nowrap;
}

.user:hover {
cursor: pointer;
display: flex;
background: #000;
border-radius: 15px;
width: 250px;
height: 300px;
border: 1px solid #00007b;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
flex-wrap: nowrap;
transition: all 0.5s ease;
}

.user.focused {
border-color: #00006b;
background: #00006b;
color: white;
transform: scale(1.05);
transition: all 0.5s ease;
}

.toggle-container {
position: absolute;
right: 5%;
display: inline-block;
width: 200px;
height: 30px;
}

.toggle-container input {
opacity: 0;
width: 0;
height: 0;
}

.toggle-label {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #333;
transition: .4s;
border-radius: 5px;
}

.toggle-label:before {
position: absolute;
content: "";
height: 26px;
width: 100px;
left: 2px;
bottom: 2px;
background-color: #555;
transition: .4s;
border-radius: 5px;
}

input:checked + .toggle-label {
background-color: #333;
}

input:checked + .toggle-label:before {
transform: translateX(97px);
}

.slider-text {
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 100%;
text-align: center;
color: white;
font-size: 14px;
display: flex;
justify-content: space-around;
}

.togglelable {
cursor: pointer;
}

p1 {
margin-left: 30px;
margin-top: 10px;
padding-bottom: 50px;
}

.artistimg {
width: 300px;
height: 300px;
aspect-ratio: 1;
}

@media only screen and (min-width: 1200px) {
.artistdata {display: flex;}


.video-container {padding-left: 20px;height: 250px;width: 400px;}
}

@media only screen and (max-width: 1200px) {
.artistdata {
  display: flex;
  flex-direction: column;
}


.video-container {
  padding-left: 50px;
  width: 80%;
  height: 400px;
}
}

@media only screen and (min-width: 768px) {
.singer-albums {
margin-left: 4vw;
min-width: 10vw;
font-size: 13px;
color: #777;
font-weight: bold;
max-width: 10vw;
}

.upnext-album-title{min-width: 11vw;max-width: 11vw;white-space: nowrap;}
}

@media only screen and (max-width: 768px) {
.singer-albums {
  margin-left: 10vw;
  min-width: 30vw;
  font-size: 13px;
  color: #777;
  font-weight: bold;
  max-width: 30vw;
}

.upnext-album-title{
  min-width: 20vw;
  max-width: 20vw;
}
}

.video-withtitle {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 1200px) {
.latest-video {
padding-top: 30px;
}
}

@media only screen and (min-width: 1200px) {
  .latest-video {
    margin-top: -20px;
  }
}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
max-width: 320px;
width: 30%;
position: relative;
padding: 50px;
height: auto;
aspect-ratio: 1;
}

.trasition {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}


.artistimages {
width: 100%;
height: auto;
border-radius: 10px;
-o-object-fit: cover;
object-fit: cover;
-o-object-position: center center;
object-position: center center;
height: 100%;
left: 0;
position: absolute;
top: 0;
}

.button-container {
text-align: center;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: stretch;
justify-content: center;
width: 92%;
align-items: stretch;
}
.button-container button {
width: 100%;
padding: 10px 20px;
font-size: 16px;
margin: 10px;
cursor: pointer;
border: none;
border-radius: 5px;
background-color: #00007b;
color: white;
outline: none;
transition: background-color 0.3s;
}
.button-container button:hover {
transform: scale(1.01);
transition: all 0.5s ease;
}

.displaybox {
display: flex;
justify-content: space-evenly;
padding: 48px;
}

.logincomments {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
align-items: center;
justify-content: center;
}

.overlay {
  width: 100vw;
  position: relative;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 70%);
  overflow-x: hidden;
  transition: 0.3s;
  display: flex;
  height: calc(100% - 70px);
}

.overlay-content {
position: relative;
top: 25%; 
width: 100%; 
text-align: center; 
margin-top: 30px;
}

.overlay1-content{display: flex;width: 100%;min-height: calc(100% - 70px);max-height: calc(100% - 70px);}

.overlay1 a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #818181;
display: block;
transition: 0.3s; 
}

.overlay1 a:hover, .overlay1 a:focus {
color: #f1f1f1;
}

.overlay1 .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
z-index: 2000;
}

@media screen and (max-height: 450px) {
.overlay1 a {font-size: 20px}
.overlay1 .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  z-index: 20000;
}
}




.overlay1 {
height: 100%;
width: 0;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.7);
overflow-x: hidden;
transition: 0.3s;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
}

.overlay-content {
  position: relative;
  top: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  }

.overlay1 a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #818181;
display: block;
transition: 0.3s; 
}

.overlay1 a:hover, .overlay1 a:focus {
color: #f1f1f1;
}

.overlay1 .closebtn {
font-size: 60px;
z-index: 2000;
margin-top: -35px;
height: 26px;
}

@media screen and (max-height: 450px) {
.overlay1 a {font-size: 20px}
.overlay1 .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  z-index: 2000;
}
}

.video-box {
position: relative;
width: 100%;
max-width: 600px; 
margin: auto;
overflow: hidden; 
border-radius: 10px; 
}

.video-box video {
width: 100%;
height: auto;
display: block;
}

#uparrow-button {
rotate: 270deg;
}

#prevoisButton {
  display: none;
  margin-top: -5px;
}

.sidebar1 ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  width: 160px;
}

#sedrf{ 
display: none;
position: absolute;
bottom: 5%;
right: 40%;
font-size: 40px;
color: #fff;
}

  .sidebar1ov {
    left: 0;
    width: 80%;
    background-color: #0000;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 5px 5px 5px 5px;
    margin: 5px;
    padding: 0px 6px;
    height: 100%;
  }

@media screen and (max-width: 768px) {
  .sidebar1 {
    width: 300px;
    background-color: #0000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 6px;
  }

  #prevoisButton {
    display: block;
  }

  #sedrf{ 
    display: block;
    }

#myNav1{
  position: absolute;
  left: -200px;
  width: 200px;
  height: calc(100vh - 70px);
  backdrop-filter: blur(3px);
}
}
@media screen and (min-width: 769px) {
.sidebar1 {
  background-color: #0000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow-y: auto;
  border-radius: 5px;
  padding: 5px;
}

#myNav1{
  max-height: 100%;;
  position: static;
}
}

.sidebar1 li {
  margin-bottom: 10px;
}

.sidebar1 a {
  height: 60px;
  text-decoration: none;
  color: #888;
  display: flex;
  align-items: center;
  padding: 0 13px;
  border-radius: 5px;
  background-color: #222;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar1 a::after {
  display: none;
  content: '';
  position: absolute;
  background-color: #00009b;
  border-radius: 5px;
  transition: all 0.3s ease;
  top: 50%;
  bottom: 50%;
}

.sidebar1 a:hover {
  background-color: #333;
  color: #ababab;
}

.sidebar1 a:hover::after {
  display: block;
}

.sidebar1 a.selected1 {
  background-color: #2d2d4e;
  color: #fcfcfc;
  position: relative;
  border: 1px solid #33334b;
}

.sidebar1 a.selected1::after {
  display: block;
  content: '';
  position: absolute;
  left: -2px;
  bottom: 10px;
  top: 10px;
  width: 4px;
  background-color: #00009b;
  border-radius: 5px;
  transition: all 0.3s ease;
}



.sidebar1 a .icon1 {
  margin-right: 10px;
  font-size: 24px;
}

.sidebar1ov ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; 
}

.sidebar1ov li {
  margin-bottom: 10px;
}

.sidebar1ov a {
  height: 60px;
  text-decoration: none;
  color: #666;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #111;
}

.sidebar1ov a:hover {
  background-color: #151515;
  color: #999;
}

.sidebar1ov a.selected1 {
  background-color: #222;
  color: #fcfcfc;
}

.sidebar1ov a .icon1 {
  margin-right: 10px;
  font-size: 24px;
}



.audio-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
}

.audio-player {
  width: 60%;
  margin: 20px;
  padding: 10px;
}

.controls-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-bottom {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.play-pause-button {
  font-size: 16px;
  padding: 8px 16px;
  background-color: #0000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.prev-button, .next-button {
  font-size: 14px;
  padding: 6px 12px;
  background-color: #0000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.timestamp {
  font-size: 12px;
  margin-bottom: 5px;
}

.time-bar {
  width: 80%;
  height: 6px;
  border-radius: 50%;
}


.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip {
  visibility: hidden;
  width: max-content;
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 3px 5px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 14px;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.queue {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.queuetxt {
  display: flex;
  z-index: 4;
  position: relative;
  margin-bottom: 20px;
}

.queuetxtntavalible {
  display: flex;
  z-index: 4;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: #999;
  margin-left: 20px;
  padding: 36px;
}

.devices-repeater {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    z-index: 2;
}

.devices-repeater-item {
  min-width: 300px;
  max-width: 300px;
  height: 100px;
  margin-right: 1px;
  border-radius: 8px;
  background-color: rgba(10, 10, 10, 0.5);
  padding: 10px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  width: 200px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.devices-repeater {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}


.devices-repeater-item img {
  width: 30%;
  height: auto;
}

.devices-repeater-item .text-content {
  padding: 8px;
}

.devices-repeater-item .device-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.devices-repeater-item .device-description {
  font-size: 0.9em;
  color: #999;
  max-width: 150px;
  white-space: initial;
}

.device-link {
  text-decoration: none;
  color: #fff;
}

.devices-repeater-item {
  position: relative; /* Ensure positioning context for pseudo-element */
  overflow: hidden; /* Ensure content does not overflow the container */
  border-radius: 8px;
  transition: background-color 0.3s ease; /* Smooth transition for background-color */
}

.devices-repeater-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00007b, #000); /* Gradient background */
  opacity: 0; /* Start with gradient invisible */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  border-radius: 8px; /* Match border-radius of the parent */
  z-index: 0; /* Ensure gradient is below content */
}

.devices-repeater-item:hover::before {
  opacity: 1; /* Fade in gradient on hover */
}

.devices-repeater-item > * {
  position: relative; /* Ensure child elements are above the pseudo-element */
  z-index: 1; /* Content above the gradient */
}
.p1 {
  width: 100%;
  max-width: 500px;
  background-color: #0000;
  border-radius: 20px; 
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.c1 {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.c2 {
  display: flex;
  align-items: center;
}

.b1 {
  background: none;
  border: none;
  font-size: 24px;
  width: 40px; /* Fixed width for icons */
  height: 40px; /* Fixed height for icons */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white; /* White color for icons */
  transition: color 0.3s; /* Smooth color transition */
  border-radius: 50%;
}

.c3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.t1 {
  font-size: 14px;
  width: 50px; /* Fixed width for timestamps */
  text-align: center;
}

.p2 {
  flex-grow: 1;
  height: 5px;
  background-color: #333;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners for the progress bar */
}

.p3 {
  height: 100%;
  background-color: #00f;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px; /* Rounded corners for the progress bar */
}

p3 {
  color: #999;
}

.v1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.v2 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.v3 {
  height: 5px;
  background-color: #333;
  width: 80px;
  position: relative;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners for the volume bar */
}

.v4 {
  height: 100%;
  background-color: #00f;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px; /* Rounded corners for the volume fill */
}

.i1 {
  width: 24px;
  height: 24px;
}

.volume-slider {
  margin: 0px;
  opacity: 0%;
  position: absolute;
  width: 80px;
  height: 6px;
  background: transparent;
  cursor: pointer;
}

.v3 {
  height: 6px;
  background-color: #333;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.v4 {
  height: 100%;
  background-color: #00f;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

#greeting {
font-weight: bold;
font-size: 180%;
text-align: left;
margin-left: 15px;
}

.category-options1.show {
  display: block;
}

.repeater-row-item {
  display: none; /* Initially hide all items */
}

.CommingSoon {
  overflow: hidden;
  margin: 10px;
  width: 450px;
  max-height: 20vh;
  border-radius: 15px;
  z-index: 4;
  position: relative;
  padding: 10px;
  display: flex;
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background: #191919;
}

.cmgsnimg {
  border-radius: 10px;
  max-height: 20vh;
  box-shadow: 6px 0px 20px 1px #000000;
}

.arriving {
  margin: 0px 10px;
}

.arrivinginfo {
  margin: 10px 0px 0px 10px;
  color: #999;
}

.sninfo {
  display: flex;
  flex-direction: column;
}


.andthen-category-selector {
  position: fixed;
  left: -250px; /* Hidden by default */
  top: 0;
  width: 150px;
  height: calc(100vh - 90px);
  background-color: #000; /* Matches the sidebar style */
  transition: left 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 1000;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.andthen-category-selector.active {
  left: 0; /* Slides into view */
}

/* Title inside the category selector */
.andthen-category-title {
  color: white;
  font-weight: bold;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Close button inside the category selector */
.andthen-category-title .andthen-closebtn {
  cursor: pointer;
  font-size: 24px;
}

/* Category options inside the selector */
.andthen-category-options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Default category option style */
.andthen-category-option {
  position: relative; /* Needed for the ::after pseudo-element */
  color: white;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  transition: background-color 0.3s ease;
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center align items */
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff !important;
}
/* Highlighted category option style */
.andthen-category-option.selected {
  background-color: #000073; /* Background color when selected */
  color: white; /* Text color */
}

.andthen-category-option span {
  margin-right: 10px; /* Space between icon and text */
}

/* Decorative bar on the side using ::after */
.andthen-category-option::after {
  display: none;
  content: '';
  position: absolute;
  background-color: #00009b;
  border-radius: 5px;
  transition: all 0.3s ease;
  top: 50%;
  bottom: 50%;
}

/* Selected category option style */
.andthen-category-option.selected::after {
  display: block;
  content: '';
  left: -2px;
  bottom: 10px;
  top: 10px;
  width: 4px;
  background-color: #00009b;
  border-radius: 5px;
  transition: all 0.3s ease;
  }

/* Hover effect for category options */
.andthen-category-option:hover {
  background-color: #222; /* Same hover effect as the sidebar */
}

/* Display the selected category */
.andthen-selected-category {
  padding: 10px 20px;
  background-color: #222;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bolder;
  transition: all 0.3s ease;
  border: 1px solid #000;
}

.andthen-selected-category:hover {
  border: 1px solid #0000ff36;
  background-color: #191919;
}

/* Sidebar styles */
.andthen-sidebar {
  padding: 20px;
  background-color: #151515;
}

.andthen-sidebar ul {
  list-style: none;
  padding: 0;
}

.andthen-sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.andthen-sidebar a:hover {
  background-color: #222;
}

/* Highlighted category option style */
.andthen-category-option.selected {
  background-color: #2d2d4e; /* Background color when selected */
   /* Text color */
   /* Left border to indicate selection */
  border: 1px solid #33334b;
}

/* Sidebar styles */
.andthen-sidebar {
  padding: 20px;
  background-color: #151515;
}

.andthen-sidebar ul {
  list-style: none;
  padding: 0;
}

.andthen-sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.andthen-sidebar a:hover {
  background-color: #222;
}
.andthen-category-option {
    display: flex; /* Align items with flexbox */
    align-items: center; /* Vertically center items */
}

.andthen-category-option span {
    margin-right: 10px; /* Space between icon and text */
}

.tooltip-container {
  display: flex;
}

.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.content-container {
  padding: 20px;
  text-align: center;
}

/* Lightbox overlay styling */
.lightbox-overlay {
  display: flex;
  align-items: center;
  justify-content: right;
  bottom: 70px;
  right: 5px;
  display: none; /* Hidden by default */
  position: fixed;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  z-index: 999; /* High z-index to appear above other content */
  padding: 0px 20px;
}

/* Lightbox content area */
.lightbox-content {
  display: flex;
  background: #0000;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}


/* Close button styling */
.close-button {
  background: #ff4d4d;
  border: none;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
}


/* Container Styling */
.search-bar-container {
  position: relative;
}

/* Form Styling */
.search-form {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0px;
  background-color: #000;
}

/* Icon Containers */
.search-icon-container,
.voice-icon-container {
  cursor: pointer;
}

.search-icon-container img,
.voice-icon-container img {
  display: block;
}

/* Search Input */
#search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
}

/* Suggestions List */
.suggestions-list {
  position: absolute;
  top: 100%;
  left: 12px;
  right: 0;
  border-radius: 0px 0px 10px 10px;
  background-color: #000;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  z-index: 1000;
  padding: 0px;
  margin: 0px;
}

.search-form.active {
  border-radius: 10px 10px 0px 0px;
}

.suggestions-list li {
  margin: 5px;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
}

.suggestions-list li:hover,
.suggestions-list li.active {
  background-color: #00005b;
  color: #aaa;
}

.related {
  padding: 2px;
  margin-right: 20px;
  min-width: 160px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.lable {
  padding-left: 10px;
  color: #fff;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.althetaags {
  display: flex;
  overflow: auto;
  margin-left: 20px;
  mask-image: linear-gradient(to right, black 98%, transparent 100%);
}

.ChanukaLive {
  margin: 15px;
  height: 100%;
}

.ShabbosLive {
  margin: 15px;
  height: 100%;
}

.Live1 {
  background-color: #0005;
  border-radius: 5px;
  width: 400px;
  height: 100px;
  transition: all 0.3s;
  margin-bottom: 10px;
}


.Live1:hover {
  background-color: #000;
}

.Live2 {
  background-color: #0005;
  border-radius: 5px;
  width: 98%;
  height: 60px;
  transition: all 0.3s;
  margin-bottom: 10px;
}

.Live2:hover {
  background-color: #000;
}

.tagimgs1 {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
}


.tagimgs {
  width: 90px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.text-content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content1 {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Shabbosplaylist {
  padding: 10px 0px 0px 20px;
  border-radius: 5px;
  margin: 15px;
  width: calc(100vw - 700px);
  background: linear-gradient(to bottom, #1c1c1c 65px,  #077 65px, #1c1c1c 200px);
}

.Chanukaplaylist {
  padding: 10px 0px 0px 20px;
  border-radius: 5px;
  margin: 15px;
  width: calc(100vw - 700px);
  background: linear-gradient(to bottom, #1c1c1c 65px,  #840 65px, #1c1c1c 200px);
}

.queueplaylist {
  padding: 10px 0px 0px 20px;
  border-radius: 20px;
  margin-left: 15px;
  background: linear-gradient(to bottom, #1c1c1c 65px,  #004 65px, #1c1c1c 200px);
  max-width: 100%;
  min-width: 70%;
  height: 100%;
}

:lang(he) {
  font-family: "Noto Serif Hebrew";
}

.ShabbosList {
  max-height: 50vh;
  overflow: auto;
  margin-top: -30px;
  padding-top: 40px;
}

.ChanukaList {
  max-height: 50vh;
  overflow: auto;
  margin-top: -30px;
  padding-top: 40px;
}

.platgs {
  background-color: #044;
  border-radius: 7px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 5px 15px;
}

.platgch {
  background-color: #420;
  border-radius: 7px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  padding: 5px 15px;
}


.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 2% 0px 5px;
  height: 55px;
}

.detailsforlist {
  width: calc(100% + 20px);
  height: 30px;
  background: linear-gradient(to bottom, #1c1c1c 0%, #001111ee 10%);
  backdrop-filter: blur(3px);
  margin-left: -20px;
  margin-top: 0px;
  position: relative;
  z-index: 11;
  display: flex;
}

.bttoms {
  display: flex;
  margin-left: -10px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1200px) {
.shabbos {
  display: flex;
  flex-direction: row;
}
}

@media only screen and (max-width: 1200px) {
  .shabbos {
    display: flex;
    flex-direction: column;
  }

  .Shabbosplaylist {
    padding: 10px 0px 0px 20px;
    border-radius: 5px;
    margin: 15px;
    width: 90%;
    background: linear-gradient(to bottom, #1c1c1c 65px,  #077 65px, #1c1c1c 200px);
  }

  .Chanukaplaylist {
    padding: 10px 0px 0px 20px;
    border-radius: 5px;
    margin: 15px;
    width: 90%;
    background: linear-gradient(to bottom, #1c1c1c 65px,  #840 65px, #1c1c1c 200px);
  }

  .Live1 {
    background-color: #0005;
    border-radius: 5px;
    width: 90%;
    height: 100px;
    transition: all 0.3s;
    margin-bottom: 10px;
  }
}